body{
    background-color:rgba(128, 128, 128, 0.301);
}
#titulo{
    font-size: 40px;
    font-style: italic ;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    text-align: center;
}
#calculator{
    background-color: white;
    margin: 0 auto;
    width: 400px;
    height: 600px;
    border: black solid 1px;
    border-radius: 30px;
    padding: 10px;
}
#op{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-style: italic;
    font-size: 30px;
    margin-top: -8px;
    display: block;
    text-align: center;
    width: 50px;
    height: 50px;
    border: none;
    border-radius : 15px 0px 0px 0px;
    line-height: 50px;
    background-color:rgba(128, 128, 128, 0.301);
    
}
#problema{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-style: italic;
    font-size: 30px;
    margin-top: -8px;
    display: block;
    text-align: left;
    width: 345px;
    height: 50px;
    border: none;
    border-radius : 0px 15px 0px 0px;
    line-height: 50px;
    background-color:rgba(128, 128, 128, 0.301);
    margin-left: -49px;
}
#resultado{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-style: italic;
    font-size: 35px;
    margin-top: -2px;
    display: block;
    text-align: right;
    width: 395px;
    height: 50px;
    border: none;
    border-radius: 0px 0px 15px 15px;
    line-height: 50px;
    background-color:rgba(128, 128, 128, 0.301)
}
#espacio{
    display: block;
    width: 395px;
    height: 15px;
}
.numbers{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    background-color:rgba(128, 128, 128, 0.301);
    display: block;
    width: 95px;
    height: 90px;
    border: none;
    font-size: 30px;
    font-style: italic;
    border-radius: 10px;
}
.numbers:hover{
    background-color: black;
    color: white;
}
.operation{
    background-color:rgba(128, 128, 128, 0.63);
    display: block;
    width: 95px;
    height: 90px;
    border: none;
    font-size: 30px;
    font-style: italic;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    border-radius: 10px;
}
.operation:hover{ 
    background-color: black;
    color: white;
}
#equals{
    background-color:  rgb(0, 17, 255);
    color: white;
}
#equals:hover{
    background-color:  white;
    color: rgb(0, 17, 255);
}
#reset{
    background-color: rgb(0, 17, 255);
    color: white;
}
#reset:hover{
    background-color: white;
    color: rgb(0, 17, 255);
}
